@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #F1F1F1;
}

header {
    background-color: #F1F1F1;;
    border-bottom: 1px solid #D5D5D5;
}
.header-c {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 75px;
}

.system-name a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    font-weight: 500;
    min-height: 75px;
}


.input-area {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-c {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 50px;
    background-color: #333;
    color: #FFF;
    border-radius: 10px;
}
.input-c label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}
.input-c label input {
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 5px;
}
.input-c a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-top: 8px;
    color: #2ab69a;
}


.button {
    background-color: #27b89b;
    color: #FFF;
    border: 0;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
    height: 45px;
    font-weight: 500;
}
.button:hover {
    background-color: #FFF;
    color: #27b89b;
}

@media(max-width: 350px) {
    .input-c {
        width: 280px;
        padding: 30px;
    }
}